*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd599;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffac33;
  height: 50vh;
  width: 30%;
  border-radius: 20px;
}
.random-num-box{
  display: flex;
  background-color: #ffd599;
  padding: 20px 60px;
}

.number-min-max-box{
  display: flex;
  margin: 30px;
  justify-content: space-around;
}

.min{
  display: flex;
  background-color: #ffd599;
  padding: 10px 20px;
  width: 130px;
  margin: 20px;
}
.min input{
  background-color: #ffd599;
  border:none;
  width: 40px;
}
.max{
  display: flex;
  background-color: #ffd599;
  width: 130px;
  padding: 10px 40px;
  margin: 20px;
}
.max input{
  background-color: #ffd599;
  border:none;
  width: 40px;
}
button{
  background-color:#ffd599;
  color:#4c3f2d;
  font-weight: 600;
  border: none;
  padding: 10px 60px;
}
button:hover{
  background-color: #4c3f2d;
  color: #ffd599;
}