*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.main-image img{  
  height: 300px;
  width: 300px;
}
.selecte-image{
  height: 100px;
  width: 100px;
}